extends ../layout.pug

block content
    // comment Details Container
    div(class='w-full max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6')
        h1.text-2xl.font-bold.mb-2 Author Info
        // Profile Picture
        img(src=comment.userId.profilePicture, alt='Profile Picture' class='w-20 h-20 object-cover rounded-full mb-4')
        // comment Basic Information
        h2.text-2xl.font-bold.mb-2= comment.userId.firstName + ' ' + comment.userId.lastName
        p.text-gray-700 Author name: #{comment.userId.commentname}
        p.text-gray-700 Headline: #{comment.userId.headline}
        p.text-gray-700 Email: #{comment.userId.email}

    div(class='w-full max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6')
        h1.text-2xl.font-bold.mb-2 Comment Info
        p.text-gray-700 Content: #{comment.content}
        p.text-gray-700 Likes: #{comment.likes.length}
        if comment.replies.length > 0
            p.text-gray-700 Replies: #{comment.replies.length}
            ul
                each reply in comment.replies
                    li.text-gray-600
                        p.text-gray-500= reply.content
                        //- p.text-gray-500= reply.startDate.toLocaleDateString() + ' - ' + (reply.endDate ? reply.endDate.toLocaleDateString() : 'Present')
                        p.text-gray-600= reply.userId.firstName + ' ' + reply.userId.lastName
        else
            p.text-gray-500 No replies added.

    // Buttons for Posts, Comments, Connections
    div(class='mt-6')
        a(href=`/api/admin/users/${comment.userId._id}/posts`, class='inline-block bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md mr-2') View Posts
        a(href=`/api/admin/users/${comment.userId._id}/comments`, class='inline-block bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md mr-2') View Comments
        a(href=`/api/admin/users/${comment.userId._id}/connections`, class='inline-block bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md') View Connections
